*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans[wght].ttf);
}
:root {
  --blue-primary-500: #3563e9;
  --informaiton-color: #54a6ff;
  --black-secondary-500: #1a202c;
  --black-secondary-400: #596780;
  --black-secondary-300: #90a3bf;
  --color-white: #ffffff;
  --gray-color: #13131399;
  --color-red: #ed3f3f;
  --border-color: #c3d4e966;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f6f7f9;
  font-family: PlusJakartaSans;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 2.5rem;
  gap: 3rem;
}
.navbar .logo h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--blue-primary-500);
}
.nav-center {
  display: flex;
  flex: 1;
  width: 100%;
  order: 1;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 320px;
}
.search-input {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 80%;
  padding: 1rem;
  gap: 1rem;
}
.search-input .search-icon {
  cursor: pointer;
}
.search-input input[type="search"] {
  width: 100%;
  outline: 0;
  border: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.search-input input[type="search"]::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}
.search-box .filter-icon {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
}
.nav-action .icons {
  display: none;
  cursor: pointer;
}
.nav-action .profile img {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
.home-section {
  display: flex;
  padding: 3.2rem 2.5rem;
}
.home__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}
.card-1 {
  background-color: var(--informaiton-color);
  padding: 2.5rem;
}
.card-2 {
  display: none;
}
.home__card h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.home__card p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-white);
  width: 75%;
  margin-bottom: 2.5rem;
}
.card-1 button {
  width: 12rem;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  outline: 0;
  border: 0;
  background-color: var(--blue-primary-500);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-white);
  border-radius: 4px;
}
.home__card img {
  width: 200px;
}
@media screen and (min-width: 640px) {
  .nav-center {
    order: 0;
  }
  .nav-action .profile img {
    width: 4.4rem;
    height: 4.4rem;
  }
  .search-input,
  .search-box .filter-icon {
    border: 0;
  }
  .search-input {
    width: 100%;
  }
  .search-box {
    border: 1px solid var(--border-color);
    border-radius: 70px;
    padding: 0 1.25rem;
  }
  .home__card h3{
    font-size: 2.4rem;
  }
  .home__card p{
    font-size: 1.4rem;
  }
    .home__card img {
    width: 250px;
      margin: 0 30%;
  }
}
@media screen and (min-width: 1024px) {
  .nav-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
  }
  .nav-action .icons {
    display: block;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 100%;
  }
  .navbar .logo h2 {
    font-size: 3.2rem;
    margin-right: 3.5rem;
  }
  .home-section {
    gap: 3rem;
  }
  .home__card h3 {
    font-size: 2.6rem;
    width: 50%;
    margin-bottom: 2.5rem;
    line-height: 3.5rem;
  }
  .home__card p {
    font-size: 1.6rem;
    width: 50%;
  }
  .card-2 {
    display: block;
    background-color: var(--blue-primary-500);
    padding: 2.5rem;
  }
  .card-1,
  .card-2 {
    position: relative;
    padding-bottom: 5rem;
  }
  .card-2 button {
    width: 12rem;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
    outline: 0;
    border: 0;
    background-color: var(--informaiton-color);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-white);
    border-radius: 4px;
  }
  .home__card img {
    position: absolute;
    bottom: 0rem;
    width: 250px;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .home__card img{
    right: -10rem;
    bottom: 0rem;
    width: 300px;
    padding-bottom: 2rem;
    position: absolute;
  }
}