/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/PlusJakartaSans.ttf") format("truetype");
}
:root {
  --blue-primary-500: #3563e9;
  --informaiton-color: #54a6ff;
  --black-secondary-500: #1a202c;
  --black-secondary-400: #596780;
  --black-secondary-300: #90a3bf;
  --color-white: #ffffff;
  --gray-color: #13131399;
  --color-red: #ed3f3f;
  --border-color: #c3d4e966;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f6f7f9;
  font-family: "PlusJakartaSans";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3.2rem 2.5rem;
}
/* heade section style */
header {
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.navbar .logo h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--blue-primary-500);
}
.nav-center {
  display: flex;
  flex: 1;
  width: 100%;
  order: 1;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 320px;
}
.search-input {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 80%;
  padding: 1rem;
  gap: 1rem;
}
.search-input .search-icon {
  cursor: pointer;
}
.search-input input[type="search"] {
  width: 100%;
  outline: 0;
  border: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.search-input input[type="search"]::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}
.search-box .filter-icon {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
}
.nav-action .icons {
  display: none;
  cursor: pointer;
}
.nav-action .profile img {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
/* home section style */
.home-section {
  display: flex;
}
.home__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}
.card-1 {
  background-color: var(--informaiton-color);
  padding: 2.5rem;
}
.card-2 {
  display: none;
}
.home__card h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.home__card p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-white);
  width: 75%;
  margin-bottom: 2.5rem;
}
.card-1 button {
  width: 12rem;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  outline: 0;
  border: 0;
  background-color: var(--blue-primary-500);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-white);
  border-radius: 4px;
}
.home__card img {
  width: 200px;
}
/* booking form style */
.booking-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  gap: 1rem;
}
.pick-up-wrapper,
.drop-off-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 1rem;
  min-width: 32.5rem;
  border-radius: 1rem;
  width: 100%;
}
.booking-fields {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  gap: 1rem;
}
.booking-fields span {
  width: 0.2rem;
  height: 5rem;
  background-color: var(--border-color);
}
.pick-up-wrapper .title,
.drop-off-wrapper .title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.switch-btn {
  background-color: var(--blue-primary-500);
  padding: 1.2rem;
  border-radius: 1rem;
}
.booking-fields .location select,
.booking-fields .date select,
.booking-fields .time select {
  width: 100%;
  white-space: no-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: inherit;
  border: 0;
  outline: 0;
  margin-top: 0.75rem;
}
.booking-fields .location h3,
.booking-fields .date h3,
.booking-fields .time h3 {
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
/* popular car section style */
.popular-car-section .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.popular-car-section .header h3 {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--black-secondary-300);
}
.popular-car-section .header .view-all-btn {
  border: 0;
  outline: 0;
  color: var(--blue-primary-500);
  background-color: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}
.card-container {
  position: relative;
  overflow: hidden;
}
.card-container::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 6rem;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to left, rgba(255, 255, 255), transparent);
  z-index: 10;
}
.car-cards {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 1.5rem;
  scroll-behavior: smooth;
}
.car-cards .card {
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 1.5rem;
  min-width: 25rem;
  height: 100%;
}
.card .card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.card .card__header h3 {
  font-weight: 600;
  font-size: 1.6rem;
}
.card .card__header button {
  outline: 0;
  border: 0;
  background-color: inherit;
}
.card span {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--black-secondary-300);
}
.card .card__img {
  margin: 4.5rem 0;
  display: flex;
  justify-content: center;
}
.card .card__img img {
  width: 200px;
  height: 60px;
}
.card .car-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.card .car-detail div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.card .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__footer .rent-price {
  font-size: 1.6rem;
}
.card__footer button {
  border: 0;
  outline: 0;
  padding: 1.25rem;
  border-radius: 0.4rem;
  background-color: var(--blue-primary-500);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 600;
}
/* recomend car section style */
.recomendation-car .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.recomendation-car .header h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--black-secondary-300);
}
.recomendation-car .recomendation-car__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
.recomendation-car .recomendation-car__cards span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-secondary-300);
}
.recomendation-car__cards .recomendation-car__card {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 1rem;
}
.recomendation-car__card .header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.recomendation-car__card .header h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-secondary-500);
}
.recomendation-car__card .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.recomendation-car__card .main .main__img {
  width: 70%;
}
.recomendation-car__card .main .main__img img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}
.recomendation-car__card .main .main__car-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recomendation-car__card .main .main__car-detail div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.recomendation-car__card .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recomendation-car__card .footer .rent-price p {
  font-size: 1.6rem;
  color: var(--black-secondary-300);
}
.recomendation-car__card .footer .rent-price p strong {
  color: var(--black-secondary-500);
  font-weight: 700;
}
.recomendation-car__card .footer .rent-btn {
  padding: 1.25rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--blue-primary-500);
  border-radius: 0.4rem;
}
.recomendation-car .footer button {
  outline: 0;
  border: 0;
  border-radius: 0.4rem;
  display: block;
  margin: 3.5rem auto;
  background-color: var(--blue-primary-500);
  color: var(--color-white);
  padding: 1.25rem;
}
/* footer section style */
footer .title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--blue-primary-500);
  margin-bottom: 1rem;
  line-height: 150%;
}
footer .title p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-secondary-300);
  line-height: 200%;
  width: 70%;
}
.nav-link {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.nav-link div h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 2rem;
}
.nav-link div ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.nav-link div ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black-secondary-300);
}
.line{
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  width: 90%;
  height: 1px;
  background-color: var(--border-color);
}
.copy-right {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.copy-right p {
  flex: 0 0 100%;
  order: 1;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black-secondary-500);
}
.copy-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.copy-right div a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black-secondary-500);
}
/* media query section */
/* large mobile */
@media screen and (min-width: 640px) {
  /* media query for header section*/
  .nav-center {
    order: 0;
  }
  .nav-action .profile img {
    width: 4.4rem;
    height: 4.4rem;
  }
  .search-input,
  .search-box .filter-icon {
    border: 0;
  }
  .search-input {
    width: 100%;
  }
  .search-box {
    border: 1px solid var(--border-color);
    border-radius: 70px;
    padding: 0 1.25rem;
  }
  /* media query for home section */
  .home__card .btn {
    margin: 1.5rem auto 0;
  }
  .home__card .btn button {
    width: 15rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .home__card h3 {
    font-size: 2.4rem;
    text-align: center;
  }
  .home__card p {
    font-size: 1.4rem;
    width: 100%;
    display: block;
    text-align: center;
  }
  .home__card img {
    width: 250px;
  }
  .home__card .img {
    margin: 1rem auto;
  }
  /* media query for booking form section */
  .booking-form {
    gap: 2rem;
  }
  .switch-btn {
    padding: 1.6rem;
  }
  .pick-up-wrapper .title,
  .drop-off-wrapper .title {
    justify-content: center;
  }
  .pick-up-wrapper .title h3,
  .drop-off-wrapper .title h3 {
    font-size: 1.6rem;
  }
  .booking-fields .location h3,
  .booking-fields .date h3,
  .booking-fields .time h3 {
    font-size: 1.4rem;
  }
  /* media query for popular section */
  .popular-car-section .header h3 {
    font-size: 1.6rem;
  }
  .popular-car-section .header .view-all-btn {
    font-size: 1.4rem;
  }
  /* media queray for footer section */
  footer {
    background-color: var(--color-white);
  }
  footer .title h2 {
    font-size: 3.2rem;
  }
  footer .title p {
    font-size: 1.6rem;
    width: 40%;
  }
  .nav-link {
    justify-content: space-around;
  }
  .copy-right{
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .copy-right div{
    justify-content: flex-start;
    gap: 2rem;
    width: auto;
    margin-right: 1rem;
  }
  .copy-right p{
    order: -1;
    flex: 0 0 auto;
  
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  /* media query for header section*/
  .nav-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
  }
  .nav-action .icons {
    display: block;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 100%;
  }
  .navbar .logo h2 {
    font-size: 3.2rem;
    margin-right: 3.5rem;
  }
  /* media query for home section*/
  .home-section {
    gap: 3rem;
  }
  .home__card h3 {
    font-size: 2.6rem;
    text-align: start;
    width: 60%;
    margin-bottom: 2.5rem;
    line-height: 3.5rem;
  }
  .home__card p {
    font-size: 1.6rem;
    text-align: start;
    width: 70%;
  }
  .home__card .btn {
    margin: 0;
  }
  .home__card .btn button {
    padding: 1.5rem;
    width: 12rem;
  }
  /* media query for popular section*/
  .card-2 {
    display: block;
    background-color: var(--blue-primary-500);
    padding: 2.5rem;
  }
  .card-1,
  .card-2 {
    position: relative;
    padding-bottom: 5rem;
  }
  .card-2 button {
    width: 12rem;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
    outline: 0;
    border: 0;
    background-color: var(--informaiton-color);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-white);
    border-radius: 4px;
  }
  .home__card img {
    position: absolute;
    bottom: 0rem;
    right: 3rem;
    width: 250px;
    padding-bottom: 2rem;
  }
  .home__card .img {
    margin: 0;
  }
  .booking-form {
    flex-direction: row;
    gap: 3rem;
  }
  .pick-up-wrapper .title,
  .drop-off-wrapper .title {
    margin-bottom: 2.5rem;
    justify-content: flex-start;
  }
  .booking-fields .location select,
  .booking-fields .date select,
  .booking-fields .time select {
    padding-right: 5rem;
    margin-top: 1.25rem;
  }
  .pick-up-wrapper,
  .drop-off-wrapper {
    padding: 1.5rem 2rem;
  }
  .recomendation-car__card .main {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }
  .recomendation-car__card .main .main__img {
    width: 90%;
  }
  .recomendation-car__card .main .main__car-detail {
    flex-direction: row;
    gap: 5rem;
  }
  /* media query for footer section */
  footer > div{
    display: flex;
  }
  footer .title p{
    width: 60%;
  }
  .nav-link {
    justify-content: flex-start;
    gap: 6rem;
  }
  
}
/* large desktop */
@media screen and (min-width: 1440px) {
  .home__card img {
    right: 5rem;
    bottom: 0rem;
    width: 300px;
    padding-bottom: 2rem;
    position: absolute;
  }
}
